# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.stackdump

# Output Files
code/output/*
tools/output/*
!.gitkeep
*.png

# Backup Files
backup/*
*.bak

# MATLAB temp. files
*.asv

# Fortran temp. output files
fort.*

